#cResults {

  width: 430px;
  margin: auto;
  margin-top: -20px;
}



#cFooterHidden {

  visibility: hidden;
}


#cFooter {

  margin-top: 40px;
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cFiltBtnCont {

  width: 120px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;

}

#cClear {

width: 120px;
font-size: 12px;
text-align: center;
}

#cClear:hover {

  cursor: pointer;
  text-decoration: underline;
}

#cTaskCount {

  width: 120px;
  font-size: 12px;
  text-align: center;
}

.cSelected {

  border: 1px solid #555;
}

.cNotSelected {

}

.cSelected:hover { 

  border: 1px solid #555;
}



.cNotSelected:hover {

  cursor: pointer; 
}

